[ req ]
default_bits = 1024
encrypt_key = yes
distinguished_name = req_dn
x509_extensions = cert_type
prompt = no

[ req_dn ]
# country (2 letter code)
#C=FR

# State or Province Name (full name)
#ST=

# Locality Name (eg. city)
#L=Paris

# Organization (eg. company)
#O=Mandriva

# Organizational Unit Name (eg. section)
OU=OCSP Server

# Common Name (*.example.com is also possible)
CN=localhost

# E-mail contact
emailAddress=root@localhost

[ cert_type ]
nsCertType = server

